[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
opencv-python = "*"
numpy = "*"
keras = "*"
tensorflow = "*"
matplotlib = "*"
pandas = "*"
flake8 = "*"
autopep8 = "*"
scikit-learn = "*"
statsmodels = "*"

[requires]
python_version = "3.6"
