[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "==2.2.8"
djongo = "==1.2.33"
djangorestframework = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python myappserver/manage.py runserver"
