[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
open3d-python = "*"
requests = "*"
opencv-python = "==4.1.2.30"
numpy = "*"
open3d = "*"

[requires]
python_version = "2.7"
